# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!compilador/libs/*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Maven target directory
target/

# Editor folders
.idea/
.vscode/

# Archivos generados por JFlex y CUP (se regeneran con Maven)
**/Lexer.java
**/Parser.java
**/sym.java

# Archivos de salida del compilador
ast.dot
ast.png
tablaSimbolos.txt
programa.ll
programa.o
programa
programa.exe
*.out
